.galery{
    &__title{
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -1.5px;
        text-align: center;
        color: $base;
        margin: 0;
        padding-bottom: 64px;
        overflow-wrap: break-word;
    }
    &__list{
        margin: 0 auto;
        padding-left: 0;
        text-align: center;
    }
    &__item{
        
    }
    &__image{
        @media (max-width: 720px) {
            width: 130px;
            height: 130px;
        }
    
        @media (min-width: 721px) and (max-width: 1125px) {
            width: 300px;
            height: 200px;
        }
    }
    &__item-description{
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 33.6px;
        color: $base;
        text-align: left;
    }

}